{{define "onionurl"}}http://64wv2uqwjacqer7z5d6ooqgrvjwlioizmo7hgmxm7zxerbvgnoqhafid.onion/{{.RelativeURL}}{{end}}
{{define "title"}}{{.Metadata.Title}}{{end}}
{{define "body"}}{{.Content}}{{end}}
{{define "date"}}{{if .Metadata.Date}}<hr/><p>Published on {{.Metadata.Date}}{{if .LastModified}}{{if ne .Metadata.Date .LastModified}} and updated on {{.LastModified}}{{end}}{{end}}{{if .GitHash}} (<a href="https://github.com/e-zk/site/commit/{{.GitHash}}">commit</a>){{end}}</p>{{end}}{{end}}
{{define "footer"}}(C) <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> <a href="{{.RelativeURL}}">plaintext</a> <a href="{{template "onionurl" .}}">onion</a>
{{end}}
